.authbtn {
    width: 180px;
    height: 45px;
    border: $white solid 2px;
    border-radius: 3px;
    text-align: center;
    color: $white;
    align-self: flex-end;
    margin: 40px 40px 0 0;
    background-color: transparent;
    &:hover {
        transition: 1s;
        background: $white;
        color: $green;
        cursor:pointer;
    }
    @include phones {
        align-self: center;
        margin: 5px 0;
    }
}