button.authbtn.js-toggleBtn Авторизоваться
.user.user--front
    .user__content
        .user__pic
            img.user__img(src="./assets/images/content/user.jpg")
        h1.user__title Варнаев Александр
        .user__txt личный сайт разработчика
        .user__socials
            include ../socials/socials
            +socials('card')
    .user__pages
            .user__block: a.user__page(href="./works.html") Мои работы
            .user__block: a.user__page(href="./about.html") Обо мне
            .user__block: a.user__page(href="./blog.html") Блог
.user.user--back.js-toggle
    .auth__title
        .title.title--auth Авторизуйтесь
    .auth__form
        include ../form/form
    .user__pages
          .user__block: button.user__page.js-toggleBtn На главную
          .user__block: button.user__page(type='submit') Войти
.copyright.copyright_center &copy; Варнаев Александр | Создано с любовью и кровью в LoftSchool | 2018 | &#9990;89117564050 