extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6BYEWm9ft20VkdRBtctm5pTSccf52Ro")
  script(src='about.bundle.js')


  

block content

      include ../components/skills/skills
      include ../components/map/map