extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content

  section.header
    .header__links
      .socials
        - var socials = [['#', "vk"],['#', "github"],['#', "in"]]
        ul.socials__list
            each item in socials
              li.socials__item
                a(href=`${item[0]}`).socials__link
                  +icon(item[1], 'socials__icon socials__icon--white')
    .header__menu
      .hamburger-menu
        .hamburger-menu__item
        .hamburger-menu__item
        .hamburger-menu__item
    .header__content-wraper
      .user
        .user__content
          .user__pic
              img.user__img(src="./assets/images/content/user.jpg")
          h1.user__title Варнаев Александр
          .user__txt личный сайт разработчика
    .header__btn
      .arrow
        +icon('arrow_down', 'arrow__down')
  section.about
    .about__col.about__col_bg__white
        .about__title
          h2.title Обо мне
        .about__content
          .user-desc
            .user-desc__pic
              img.user-desc__pic-img(src="./assets/images/content/user-full.jpg",alt="user")
            .user-desc__info
              h3.user-desc__title
                .subtitle Кто я
              .user-desc__text
                p Я веб разработчик из Санкт-Петербурга. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__col.about__col_bg__beige
        .about__right-title
          .subtitle Чем я могу быть полезен
        .about__small-desc
          .p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__info-container
          -
            var skills = [
              ['Frontend', ['HTML 5', 'CSS 3', 'JavaScript & JQuery']],
              ['Backend', ['PHP', 'MySQL', 'Node.js & npm', 'Mongo.db']],
              ['Workflow', ['Git', 'Gulp', 'Bower']]
            ]
          each item in skills
            ul.skills
              li.skills__item
                .skills-row
                  .skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill #{skill}
  section.map
    .map__yandex
      img(src="./assets/images/bg/map.png", alt="").map__pic
      .yamap
    .map__contacts
      .user_data
        .user_data__title
          .subtitle Контакты
        .user_data__container
          ul.user_data__contacts-list
            each item in [['skype','Sans1987'],['envelope','alexandervarnaev@gmail.com'], ['phone','+7 911 756 40 50'], ['map_marker','г.СПб, Коломяжский пр., 15 к.2']]
              li.user_data__contacts-item
                .contacts
                  +icon(item[0],'contacts__icon')
                  .contacts__title #{item[1]}
  