<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WElcome
    link(rel="stylesheet", href="main.min.css")
  body
  .wrapper
    .container.welcomepage__container
      .auth Авторизоваться
      .welcome
        .welcome__content
          .welcome__pic
            img.welcome__img(src="./assets/images/content/user.jpg")
          h1.welcome__title Варнаев Александр
          .welcome__txt личный сайт разработчика
          .welcome__socials
            ul.welcome__socials-list
              li.welcome__socials-link: a.welcome__socials-icon(href="https://vk.com/id6802343", target="_blank")
                svg.welcome__socials-icon
                  use(xlink:href="./assets/images/icons/sprite.svg#vk")
              li.welcome__socials-link: a.welcome__socials-icon
                svg.welcome__socials-icon
                  use(xlink:href="./assets/images/icons/sprite.svg#github")
              li.welcome__socials-link: a.welcome__socials-icon
                svg.welcome__socials-icon
                  use(xlink:href="./assets/images/icons/sprite.svg#in")
        div.welcome__pages
          div.welcome__block: a.welcome__page Мои работы
          div.welcome__block: a.welcome__page Обо мне
          div.welcome__block: a.welcome__page Блог
      .copyright &copy; Варнаев Александр | Создано с любовью и кровью в LoftSchool 2018 &#9990; 89117564050 