.copyright{
    color: $white;
    position: relative;

    width: 100%;
    &_center{
        top: 85%;
        text-align: center;
    }
    &_margin_left{
        margin-left: 30px;
    }
    &_align_right{
        text-align: right;
        margin-right: 30px;
    }
}