.orderoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(62, 64, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .overlaycontainer {
    position: relative;
  }
  
  .orderoverlay__content {
    width: 200px;
    background: #fff;
    border-radius: 5px;
    color: black;
    font-weight: 300;
    font-family: 'ubuntu', Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .overlaytext {
      margin: 20px auto;
  }
  .button--marginbottom{
      margin-bottom: 20px;
  }