.title{
    color: $text-color;
    font-family: 'bernier';
    font-size: 48px;
    position: relative;
    &--auth{
        font-size: 32px;
    }
    &--clean{
        &:before {
            content: none;
          }
        
          &:after {
            content: none;
          }
    }
    &:before {
        content: "";
        display: inline-block;
        width: 20px;
        border: 3px solid rgba($grey, 0.3);
        position: absolute;
        top: 50%;
        transform: translate(-200%, -50%)
    }
    &:after {
        content: "";
        display: inline-block;
        width: 20px;
        border: 3px solid rgba($grey, 0.3);
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%)
    }
}
.subtitle{
    color: $text-color;
    font-family: 'bernier';
    font-size: 24px;
    position: relative;
    &:before {
        content: "";
        display: inline-block;
        width: 20px;
        border: 3px solid rgba($grey, 0.3);
        position: absolute;
        top: 50%;
        transform: translate(-200%, -50%)
    }
    &:after {
        content: "";
        display: inline-block;
        width: 20px;
        border: 3px solid rgba($grey, 0.3);
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%)
    }
}
.auth__title{
    margin-bottom: 25px;
}